





footer{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #D4C3B3;
    color: white;
    height: 300px;   
}

#footerLogo{
    height: 100px;
}
#footerTekst 
#tekstCafe{
    margin-bottom: 10px;
    
}
.some{
    width: 50px;
    
    
}

#footerSome{
    display: flex;
    flex-direction: column;
   align-items: center;
    
}
#facebookText{
    width: 300px;
    text-align: center;
    
}
#footerTekst p{
    margin: 0;
}