/**
 * file: css/style.css
 **/
body {
    margin: 0;
    /*Margin er den ydere afstand fra rammens kant til en anden ramme/element*/
    padding: 0;
    /* padding er det indre afstand i en ramme*/
    font-family: sans-serif;
    background-image: url(/images/bagground50.jpg);

}

#header4 {
    background-image: url(../images/aktivitetcolormindre.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    /* En setting for hvordan visningerne af et elemenet skal håndteres */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*Top til bund*/
    margin-bottom: 5em;
}

#header6 {
    background-image: url(../images/menucolormindre.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5em;
}

/*Display none*/
.xlistmobil,
.logomobil,
#kryds,
#burgermenu {
    display: none;
}

/* Drop down til om os */
.dropdown {
    position: relative;
    /*Elementet placeres relativt i forhold til placering i koden.*/
    display: flex;
    height: 100%;
    padding: 32px;
    align-items: center;
    font-size: 18px;
}

.dropdown-content {
    display: none;
    position: absolute;
    /*Elemenetet placeres et fast sted i forhold til browservinduet.*/
    top: 100%;
    background-color: rgba(255, 255, 255, .7);
    width: 140px;
    z-index: 1;
    /*z-indeks property indtiller z-rækkefølgeen af et positioneret elemen og dets efterkommere elle flex-elementer.*/
}

.dropdown-content a {
    text-decoration: none;
    /*Her bestemmer man om man skal have en streg under,igennem eller over teksten*/
    text-align: center;
    /*Her bestemmere man om teksten skal ligge til høre,midten eller til venstre*/
    font-size: 18px;
    display: block;
    padding: 20px;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown a {
    text-decoration: none;
    color: black;
}

.dropdown a:hover {
    color: #A81B06;
}

/* Drop down til aktiviteter */
.dropdown2 {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 18px;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    top: 100%;
    background-color: rgba(255, 255, 255, .7);
    width: 140px;
    z-index: 1;
}

.dropdown-content2 a {
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    display: block;
    padding: 20px;
    color: black;
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}

.dropdown2 a {
    text-decoration: none;
    color: black;
}

.dropdown2 a:hover {
    color: #A81B06;
}

/* dropdown slut */

/*Navbar*/

nav {
    position: fixed;
    width: 100%;
    height: 92px;
    top: 0;
    background-color: rgba(255, 255, 255, .7);
    z-index: 1;
}

nav .current {
    color: #A81B06;
}

nav ul {
    display: flex;
    align-items: center;
    height: 100%;
    float: right;
    margin: 0;
    padding-right: 42px;
    font-family: 'Dosis', sans-serif;

}

nav ul li {
    display: inline-block;
    padding: 16px 32px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

nav ul li a:hover {
    color: #A81B06;
}

.logo {
    height: 70px;
    float: left;
    margin: 18px 48px;
}

/* Page design Aktivitet start her */
.heading {
    font-family: 'Allura';
    font-size: 55px;
    color: #09565A;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 2em;
}

.text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    font-size: 20px;
    text-align: center;
    width: 52%;
    font-family: 'Helvetica';
}

.text-menu {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    font-size: 20px;
    text-align: left;
    width: 50%;
    font-family: 'Helvetica';
}

.text-menu a {
    text-decoration: none;
    color: #A81B06;
}

.text-menu a:hover {
    opacity: 0.6;
}

/*Aktivitet*/
#aktivitetImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 1em;
}

/* Ugens aktivitet*/

#ugensAktiviter {
    font-family: 'Allura';
    font-size: 55px;
    color: #09565A;
    text-align: center;
    margin-bottom: 1em;
}

/* Google kalender*/
#googleKalender {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;

}

/*Poloid img*/
.page-design {
    width: 100%;
    /*  Vh = View Height. It's like % but instead of parent, it's a % of the window height.  */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}

/*backgroundPicture stylesheet */
#aktivetetMad {
    background-image: url(/images/aktivitetmadcolor.png);

}

.fixed-background {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*  */
#flex-container {
    display: flex;
    flex-direction: row;
}

#flex-item-left {
    padding: 10px;
    flex: 50%;


}

#flex-item-right {
    padding: 25px;
    flex: 50%;
}

/* Vores menu - image slideshow */

* {
    box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
    width: 50%;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #A81B06;
    font-weight: bolder;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 1px 1px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 1px 1px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    color: black;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #A81B06;
    font-size: 20px;
    padding: 8px 10px;
    position: absolute;
    top: 0;
}

.slide-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 6em;
    margin-bottom: 1em;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-bottom: 5em;
}

.active,
.dot:hover {
    background-color: #A81B06;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/*backgroundPicture stylesheet */

#backgroundPicture3 {
    background-image: url(/images/backgroundcovercolormindre.jpg);

}

.fixed-background {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Sol strålen */

#solStrålen {
    font-family: 'Allura';
    font-size: 55px;
    color: #09565A;
    text-align: center;
    margin-bottom: 1em;
}

#solStrålenimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 50px;
}

/* Footer*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D4C3B3;
    color: white;
    height: 200px;
    padding: 2em;
    font-weight: bold;
}

#footerLogo {
    height: 100px;
}

#footerTekst #tekstCafe {
    margin-bottom: 10px;

}

.some {
    width: 50px;
    margin: 5px;
}

.some:hover {
    opacity: 0.6;
}

#footerSome {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#facebookText {
    width: 300px;
    text-align: center;

}

#footerTekst p {
    margin: 0;
}

/*Mediaquery til mobil*/
@media only screen and (max-width: 600px) {

    /*navlist*/
    .nav-list {
        position: fixed;
        top: 0;
        left: -100%;
        /*Bruges til at skubbe elemente helt ud af skærmen*/
        width: 100vw;
        bottom: 0;
        background-image: url(/images/bagground50.jpg);
        display: flex;
        flex-direction: column;
        padding: 0;
        justify-content: center;

    }

    .nav-list.open {
        left: 0;
        /*Bruger til at kalde elementen frem på skærmen*/
    }

    nav ul li a {
        font-size: 30px;
    }

    nav ul li.tekstmindre a {
        font-size: 20px;
    }

    .dropdown,
    .dropdown2 {
        display: none;
    }

    .logomobil {
        display: block;
        width: 150px;
        margin-bottom: 30px;

    }

    .logo {
        height: 60px;
        float: left;
        margin: 18px 10px;
    }

    #kryds {
        display: block;
        width: 40px;
        padding: 0;
        position: absolute;
        /*man hiver elementet ud af flowet så det flyder så man kan placer med top 0 og right 0*/
        top: 15px;
        right: 15px;
        background-color: transparent;

    }

    #kryds img {
        width: 100%;
    }

    .xlistmobil {
        display: block;
    }

    #burgermenu {
        display: block;
        width: 40px;
        padding: 0;
        position: absolute;
        /*man hiver elementet ud af flowet så det flyder så man kan placer med top 0 og right 0*/
        top: 30px;
        right: 20px;
        background-color: transparent;
    }

    #burgermenu img {
        width: 100%;
    }

    /*Tilpas aktivitet*/
    #header4 {
        height: 60vh;
        margin-bottom: 0em;
    }

    #header6 {
        height: 60vh;
        margin-bottom: 0em;
    }

    .heading {
        width: 100%;
        font-size: 40px;
        margin-top: 1.5em;
        margin-bottom: 0em;
        padding-left: 2em;
        padding-right: 2em;
    }

    .text {
        width: 100%;
        font-size: 18px;
        padding-left: 2em;
        padding-right: 2em;
    }

    #aktivitetImg {
        width: 100%;
        padding-left: 2em;
        padding-right: 2em;
    }

    #googleKalender {
        width: 100%;
    }

    #solStrålenimg {
        width: 100%;
        padding-left: 2em;
        padding-right: 2em;
    }

    .text-menu {
        width: 100%;
        font-size: 18px;
        padding-left: 2em;
        padding-right: 2em;
        text-align: center;
    }

    .slideshow-container {
        width: 100%;
        padding-left: 2em;
        padding-right: 2em;
    }

    .prev {
        padding-left: 0.3em;
    }

    .next {
        padding-right: 1.5em;
    }

    /*fixbackground*/
    .fixed-background {
        width: 100vw;
        /*100vw er bredden på skærmet*/
        min-height: 25vh;
        box-sizing: border-box;
        /*Medregner padding man kan have liggende på højden*/
        background-attachment: unset;
        /*Fjerner background-attachement fra fixed-baggrund*/
    }

    /* tilpas footer til mobil*/
    footer {
        display: flex;
        flex-direction: column;
        height: 400px;
    }

    #footerTekst {
        text-align: center;
    }

    #footerLogo {
        margin-top: 15px;
    }

}
