/**
 * file: css/style.css
 **/
/* landingpage*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
    background-image: url(/images/bagground50.jpg)
}

h2 {
    font-family: 'Allura', cursive;

}

header {
    background-image: url(/images/kontaktcolor.png);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dropdown {
    position: relative;
    display: flex;
    height: 100%;
    padding: 32px;
    align-items: center;
    font-size: 18px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 79.5%;
    background-color: rgba(255, 255, 255, .7);
    width: 140px;
    z-index: 1;
}

.dropdown-content a {
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    display: block;
    padding: 20px;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown a {
    text-decoration: none;
    color: black;
}

.dropdown a:hover {
    color: #A81B06;
}

/* Drop down til aktiviteter */
.dropdown2 {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 18px;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    top: 100%;
    background-color: rgba(255, 255, 255, .7);
    width: 140px;
    z-index: 1;
}

.dropdown-content2 a {
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    display: block;
    padding: 20px;
    color: black;
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}

.dropdown2 a {
    text-decoration: none;
    color: black;
}

.dropdown2 a:hover {
    color: #A81B06;
}

/* dropdown slut */

nav {
    position: fixed;
    width: 100%;
    height: 92px;
    top: 0;
    background-color: rgba(255, 255, 255, .7);
    z-index: 1;
    /* z-index z-indeksegenskaben i CSS styrer den lodrette stabelrækkefølge af elementer, der overlapper hinanden. Som i, hvilken der ser ud som om den er fysisk tættere på dig.*/
}

nav .current {
    color: #A81B06;
}

nav ul {
    display: flex;
    align-items: center;
    height: 100%;
    float: right;
    margin: 0;
    padding-right: 42px;
    font-family: 'Dosis', sans-serif;

}

nav ul li {
    display: inline-block;
    padding: 16px 32px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

nav ul li a:hover {
    color: #A81B06;
}

.logo {
    height: 70px;
    float: left;
    margin: 18px 48px;
}

nav.black {
    background: #fff;

}

/* Kontakt os starter her */
#headerkontakt1 {
    font-family: 'Allura';
    font-size: 55px;
    color: #09565A;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;
}

#headerkontakt2 {
    font-family: 'Allura';
    font-size: 55px;
    color: #09565A;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;
}

.tekst {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    text-align: center;
    width: 50%;
    margin-top: 1em;
}


/* Mapbox*/

#findos {
    text-align: center;
    font-family: 'dosis', sans-serif;
    color: #A81B06;
    font-size: 40px;
    margin-bottom: 55px;
    margin-top: 100px;
}

body {
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 500px;
    margin-bottom: 100px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D4C3B3;
    color: white;
    height: 200px;
    padding: 2em;
    font-weight: bold;
}

#footerLogo {
    height: 100px;
}

#footerTekst #tekstCafe {
    margin-bottom: 10px;

}

.some {
    width: 50px;
    margin: 5px;
}

.some:hover {
    opacity: 0.6;
}

#footerSome {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#facebookText {
    width: 300px;
    text-align: center;

}

#footerTekst p {
    margin: 0;
}
