/**
 * file: css/style.css
 **/
/* landingpage*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
    background-image: url(/images/bagground.jpg);


}

h2 {
    font-family: 'Allura', cursive;

}

header {
    background-image: url(/images/Landingpage.png);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    top: 0;
    background-color: rgba(255, 255, 255, .7);
    z-index: 1;
}

nav ul {
    float: right;
    margin: 0;
    padding-right: 42px;
    font-family: 'Dosis', sans-serif;

}

nav ul li {
    display: inline-block;
    padding: 16px 32px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.logo {
    height: 70px;
    float: left;
    margin: 18px 48px;
}

#h1landing {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    color: white;

}

#h2landing {
    font-size: 48px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    color: white;

}

nav.black {
    background: #fff;
}


/* Page design */


.page-design {
    width: 100%;
    /*  Vh = View Height. It's like % but instead of parent, it's a % of the window height.  */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
}


h2 {
    font-size: 55px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #09565A;
    font-family: 'Allura';
}

p {
    font-size: 20px;
    line-height: 30px;

}


.tekst {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
    font-size: 22px;
    text-align: center;
    width: 50%;
    margin-top: 3em;
}

#imgPoloroid {
    display: flex;

}

.interview-picture {
    position: relative;
    display: flex;
}

.interview-picture img {
    width: 100%;
    height: auto;
    display: flex;
}

.interview-picture .audio-button {
    position: absolute;
    width: 15%;
    left: 25px;
    bottom: 10px;
    cursor: pointer;
}

#quotesContent {
    display: flex;
    justify-content: space-around;

}

.quotes-and-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 80%;
    max-width: 500px;

}

.quotes-and-pic q {
    margin-top: 20px;
}

/**backgroundPicture stylesheet **/

#backgroundPicture1 {
    background-image: url(/images/parallax1-1.png);

}

#backgroundPicture2 {
    background-image: url(/images/parallax2.png);

}

.fixed-background {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/** Café Parasollen youtube video **/
#youtubeVideo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    padding-bottom: 100px;
    padding-top: 100px;
}

.sevideo {
    font-family: 'Allura';
    color: #09565A;
    text-align: center;
    margin-bottom: 80px;
    font-size: 55px;
}

/** Pristlist **/

#prislist {
    display: flex;
    flex-direction: row;
    padding: 100px;
}

#prislistleft {
    flex: 50%;
    padding: 10px;
}

#smørbrødleft {
    flex: 50%;
    padding: 10px;
}

#kontactButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #A81B06;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    width: 30%;
    padding: 10px;
    margin-top: 2em;
    margin-bottom: 5em;
    font-family: 'Dosis', sans-serif;
}

#smørbrød {
    max-width: 100%;
    margin-top: 2em;

}


/** Bliv frivllig**/

#frivilligPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 1em;
}


#blivfrivilligButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #A81B06;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    width: 15%;
    padding: 10px;
    margin-top: 2em;
    margin-bottom: 5em;
    font-family: 'Dosis', sans-serif;
}

/** Åbningstider **/

#åbningsTiderheader {
    font-family: 'dosis', sans-serif;
    color: #A81B06;
    font-size: 48px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#åbningstiderTekst {
    text-align: center;
}

/** Find os her **/

#findos {
    text-align: center;
    font-family: 'dosis', sans-serif;
    color: #A81B06;
    font-size: 48px;
    margin-top: 100px;
    margin-bottom: 100px;
}

body {
    margin: 0;
    padding: 0;
}

/* Mapbox*/
#map {
    width: 100%;
    height: 500px;
}

/** footer**/
footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #D4C3B3;
    color: white;
    height: 300px;
}


#footerContent {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#some {
    width: 80px;
    height: 50px;
}


#footerSome {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#someText {
    width: 300px;
    text-align: center;


}

/*landing page slut*/
