/**
 * file: css/style.css
 **/
/* landingpage*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
    background-image: url(/images/bagground50.jpg);
}

h2 {
    font-family: 'Allura', cursive;

}

header {
    background-image: url(/images/landingcolor.png);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dropdown {
    position: relative;
    display: flex;
    height: 100%;
    padding: 32px; /* Padding er indefor objekt*/
    align-items: center;
    font-size: 18px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 79.5%;
    background-color: rgba(255, 255, 255, .7);
    width: 140px;
    z-index: 1;
}

.dropdown-content a {
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    display: block;
    padding: 15px;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown a {
    text-decoration: none;
    color: black;
}

.dropdown a:hover {
    color: #A81B06;
}

/* dropdown slut */

nav {
    position: fixed;
    width: 100%;
    height: 92px;
    top: 0;
    background-color: rgba(255, 255, 255, .7);
    z-index: 1;
}

nav ul {
    display: flex;
    align-items: center;
    height: 100%;
    float: right;
    margin: 0;
    padding-right: 42px;
    font-family: 'Dosis', sans-serif;

}

nav ul li {
    display: inline-block;
    padding: 16px 32px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

nav ul li a:hover {
    color: #A81B06;
}

.logo {
    height: 70px;
    float: left; 
    margin: 18px 48px; /* margin er udenfor object */
}


#h1landing {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    color: white;

}

#h2landing {
    font-size: 48px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 5px;

}

nav.black {
    background: #fff;
}


/* Page design */


.page-design {
    width: 100%;
    /*  Vh = View Height. It's like % but instead of parent, it's a % of the window height.  */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
}


h2 {
    font-size: 55px;
    text-align: center;
    padding-top: 10px;
    color: #09565A;
    font-family: 'Allura';
}


.tekst {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    font-size: 22px;
    text-align: center;
    width: 50%;
    margin-top: 1em;
}

#imgPoloroid {
    display: flex;

}

.interview-picture {
    position: relative;
    display: flex;
}

.interview-picture img {
    width: 100%;
    height: auto;
    display: flex;
}

.interview-picture .audio-button {
    position: absolute;
    width: 15%;
    left: 25px;
    bottom: 10px;
    cursor: pointer;
}

#quotesContent {
    display: flex;
    justify-content: space-around;

}

.quotes-and-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 80%;
    max-width: 500px;

}

.quotes-and-pic q {
    margin-top: 20px;
}

/**backgroundPicture stylesheet **/

#backgroundPicture1 {
    background-image: url(/images/parallax1color.png);

}

#backgroundPicture2 {
    background-image: url(/images/parallax2color.png);

}

.fixed-background {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/** Café Parasollen youtube video **/
#youtubeVideo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    padding-bottom: 100px;
    padding-top: 100px;
}

.sevideo {
    font-family: 'Allura';
    color: #09565A;
    text-align: center;
    margin-bottom: 80px;
    font-size: 55px;
}

/** Pristlist **/

#prislist {
    display: flex;
    flex-direction: row;
    padding: 100px;
}

#prislistleft {
    flex: 50%;
    padding: 25px;
}

#smørbrødleft {
    flex: 50%;
    padding: 10px;
}

button {
    background-color: #A81B06;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 15px;
}

button:hover {
    opacity: 0.6;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#smørbrød {
    width: 80%;
    margin-top: 2em;

}


/** Bliv frivllig**/

#frivilligPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 1em;
}


#blivfrivilligButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #A81B06;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    width: 15%;
    padding: 10px;
    margin-top: 2em;
    margin-bottom: 5em;
    font-family: 'Dosis', sans-serif;
}

#blivfrivilligButton a {
    text-decoration: none;
    color: white;
}

#blivfrivilligButton:hover {
    opacity: 0.6;
}

/** Åbningstider **/

#åbningsTiderheader {
    font-family: 'dosis', sans-serif;
    color: #A81B06;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 50px;
}

#åbningstiderTekst {
    text-align: center;
}

/** Find os her **/

#findos {
    text-align: center;
    font-family: 'dosis', sans-serif;
    color: #A81B06;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 50px;
}

body {
    margin: 0;
    padding: 0;
}

/* Mapbox*/
#map {
    width: 100%;
    height: 500px;
    margin-bottom: 100px;
}

/** footer**/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D4C3B3;
    color: white;
    height: 200px;
    padding: 2em;
    font-weight: bold;
}

#footerLogo {
    height: 100px;
}

#footerTekst #tekstCafe {
    margin-bottom: 10px;

}

.some {
    width: 50px;
    margin: 5px;
}

.some:hover {
    opacity: 0.6;
}

#footerSome {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#facebookText {
    width: 300px;
    text-align: center;

}

#footerTekst p {
    margin: 0;
}


/*landing page slut*/
