/**
 * file: css/style.css
 **/

body {
    margin: 0;
    padding: 0;
    background-image: url(../images/bagground50.jpg);
    font-family: 'Helvetica';
}

#header1 {
    background-image: url(/images/omoscolourmindre.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header2 {
    background-image: url(../images/frivilligecolormindre.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header3 {
    background-image: url(../images/partnerskabcolormindre.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.xlistmobil {
    display: none;
}

main {
    padding: 5em;
}

/* dropdown start */

.dropdown {
    position: relative;
    display: flex;
    height: 100%;
    padding: 32px;
    align-items: center;
    font-size: 18px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: rgba(255, 255, 255, .7);
    width: 140px;
    z-index: 1;
}

.dropdown-content a {
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    display: block;
    padding: 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover {
    color: #A81B06;
}

/* Drop down til aktiviteter */
.dropdown2 {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 18px;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    top: 100%;
    background-color: rgba(255, 255, 255, .7);
    width: 140px;
    z-index: 1;
}

.dropdown-content2 a {
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    display: block;
    padding: 20px;
    color: black;
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}

.dropdown2 a {
    text-decoration: none;
    color: black;
}

.dropdown2 a:hover {
    color: #A81B06;
}

/* dropdown slut */

nav {
    position: fixed;
    width: 100%;
    height: 92px;
    top: 0;
    background-color: rgba(255, 255, 255, .7);
    z-index: 1;
}

nav .current {
    color: #A81B06;
}

nav ul {
    display: flex;
    align-items: center;
    height: 100%;
    float: right;
    margin: 0;
    padding-right: 42px;
    font-family: 'Dosis', sans-serif;

}

nav ul li {
    display: inline-block;
    padding: 16px 32px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

nav ul li a:hover {
    color: #A81B06;
}

.logo {
    height: 70px;
    float: left;
    margin: 18px 48px;
}

/* Om os start */

#banner {
    width: 100%;
    margin-bottom: 5em;
}

.heading {
    font-family: 'Allura';
    font-size: 55px;
    color: #09565A;
    text-align: center;
    margin-bottom: 1em;
}

.heading2 {
    font-family: 'Dosis';
    font-size: 40px;
    color: #A81B06;
    text-align: center;
    margin-bottom: 1em;
}

#text-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    font-size: 22px;
    text-align: center;
    width: 50%;
}

.text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
    font-size: 22px;
    text-align: center;
    width: 85%;
}

#image-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
    font-size: 22px;
    text-align: center;
    width: 53%;
}

#rapport-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    font-size: 22px;
    text-align: center;
    width: 85%;
}

#partnerskab-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
    font-size: 22px;
    text-align: center;
    width: 75%;
}

#image1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 1em;
}

#aarsrapport {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 45px;
    width: 85%;
}

#aarsrapport:hover {
    opacity: 0.6;
}

* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-item-left {
    padding: 10px;
    flex: 50%;
}

.flex-item-middle {
    padding: 10px;
    flex: 50%;
}

.flex-item-right {
    padding: 10px;
    flex: 50%;
}

.image-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    text-align: center;
    width: 55%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #A81B06;
}

.ansat {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 5em;
}

.sponsor {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-bottom: 5em;
}

.sponsor:hover {
    opacity: 0.8;
}

#sponsor-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    text-align: center;
    border-style: solid;
    border-color: grey;
    padding: 25px;
    width: 38%;
}

button {
    background-color: #09565A;
    color: white;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 15px;
}

button:hover {
    opacity: 0.8;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Footer*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D4C3B3;
    color: white;
    height: 200px;
    padding: 2em;
    font-weight: bold;
}

#footerLogo {
    height: 100px;
}

#footerTekst #tekstCafe {
    margin-bottom: 10px;

}

.some {
    width: 50px;
    margin: 5px;
}

.some:hover {
    opacity: 0.6;
}

#footerSome {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#facebookText {
    width: 300px;
    text-align: center;

}

#footerTekst p {
    margin: 0;
}

/* Om os slut */
/*Mediaquery til mobil*/
@media only screen and (max-width: 600px) {
 /*navlist*/
    .nav-list {
        position: fixed;
        top: 0;
        left: -100%;
        /*Bruges til at skubbe elemente helt ud af skærmen*/
        width: 100vw;
        bottom: 0;
        background-image: url(/images/bagground50.jpg);
        display: flex;
        flex-direction: column;
        padding: 0;
        justify-content: center;

    }

    .nav-list.open {
        left: 0;
        /*Bruger til at kalde elementen frem på skærmen*/
    }

    nav ul li a {
        font-size: 30px;
    }

    nav ul li.tekstmindre a {
        font-size: 20px;
    }

    .dropdown,
    .dropdown2 {
        display: none;
    }

    .logomobil {
        display: block;
        width: 150px;
        margin-bottom: 30px;

    }

    #kryds {
        display: block;
        width: 40px;
        padding: 0;
        position: absolute;
        /*man hiver elementet ud af flowet så det flyder så man kan placer med top 0 og right 0*/
        top: 15px;
        right: 15px;
        background-color: transparent;

    }

    #kryds img {
        width: 100%;
    }

    .xlistmobil {
        display: block;
    }

    #burgermenu {
        display: block;
        width: 40px;
        padding: 0;
        position: absolute;
        /*man hiver elementet ud af flowet så det flyder så man kan placer med top 0 og right 0*/
        top: 30px;
        right: 20px;
        background-color: transparent;
    }

    #burgermenu img {
        width: 100%;
    }
    /*tilpass omos*/
    main {
        padding: 2em;
    }

    #header1 {
        height: 60vh;
    }

    #header2 {
        height: 60vh;
    }

    #header3 {
        height: 60vh;
    }

    .heading {
        width: 100%;
        font-size: 40px;
        margin-bottom: 0.5em;
    }

    #text-top {
        width: 100%;
        font-size: 18px;
    }

    #image1 {
        width: 100%;
    }

    #image-text {
        width: 100%;
        font-size: 18px;
    }

    #rapport-text {
        width: 100%;
        font-size: 18px;
        margin-bottom: 1em;
    }

    .flex-container {
        flex-direction: column;
    }

    #aarsrapport {
        width: 100%;
    }

    .heading2 {
        width: 100%;
        font-size: 30px;
    }

    .image-text {
        width: 100%;
        font-size: 18px;
    }

    .text {
        width: 100%;
        font-size: 18px;
        margin-bottom: 3.5em;
    }

    .ansat {
        width: 70%;
    }

    #partnerskab-text {
        width: 100%;
        font-size: 18px;
        margin-bottom: 3.5em;
    }

    .sponsor {
        width: 70%;
        margin-bottom: 3em;
    }

    #sponsor-text {
        width: 70%;
        font-size: 18px;
        margin-bottom: 3em;
    }

    /* tilpas footer til mobil*/
    footer {
        display: flex;
        flex-direction: column;
        height: 400px;
    }

    #footerTekst {
        text-align: center;
    }

    #footerLogo {
        margin-top: 15px;
    }

}
