/**
 * file: css/style.css
 **/

body {
    margin: 0;
    padding: 0;
    background-image: url(../images/bagground50.jpg);
    font-family: 'Helvetica';
}

#header1 {
    background-image: url(/images/omoscolour.png);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header2 {
    background-image: url(../images/frivilligecolor.JPG);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header3 {
    background-image: url(../images/partnerskabcolor.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    padding: 5em;
}

/* dropdown start */

.dropdown {
    position: relative;
    display: flex;
    height: 100%;
    padding: 32px;
    align-items: center;
    font-size: 18px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: rgba(255, 255, 255, .7);
    width: 140px;
    z-index: 1;
}

.dropdown-content a {
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    display: block;
    padding: 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover {
    color: #A81B06;
}

/* Drop down til aktiviteter */
.dropdown2 {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 18px;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    top: 100%;
    background-color: rgba(255, 255, 255, .7);
    width: 140px;
    z-index: 1;
}

.dropdown-content2 a {
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    display: block;
    padding: 20px;
    color: black;
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}

.dropdown2 a {
    text-decoration: none;
    color: black;
}

.dropdown2 a:hover {
    color: #A81B06;
}

/* dropdown slut */

nav {
    position: fixed;
    width: 100%;
    height: 92px;
    top: 0;
    background-color: rgba(255, 255, 255, .7);
    z-index: 1;
}

nav .current {
    color: #A81B06;
}

nav ul {
    display: flex;
    align-items: center;
    height: 100%;
    float: right;
    margin: 0;
    padding-right: 42px;
    font-family: 'Dosis', sans-serif;

}

nav ul li {
    display: inline-block;
    padding: 16px 32px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

nav ul li a:hover {
    color: #A81B06;
}

.logo {
    height: 70px;
    float: left;
    margin: 18px 48px;
}

/* Om os start */

#banner {
    width: 100%;
    margin-bottom: 5em;
}

.heading {
    font-family: 'Allura';
    font-size: 55px;
    color: #09565A;
    text-align: center;
    margin-bottom: 1em;
}

.heading2 {
    font-family: 'Dosis';
    font-size: 40px;
    color: #A81B06;
    text-align: center;
    margin-bottom: 1em;
}

#text-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    font-size: 22px;
    text-align: center;
    width: 50%;
}

.text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
    font-size: 22px;
    text-align: center;
    width: 85%;
}

#image-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
    font-size: 22px;
    text-align: center;
    width: 53%;
}

#rapport-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    font-size: 22px;
    text-align: center;
    width: 85%;
}

#partnerskab-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
    font-size: 22px;
    text-align: center;
    width: 75%;
}

#image1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 1em;
}

#aarsrapport {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 45px;
    width: 85%;
}

#aarsrapport:hover {
    opacity: 0.6;
}

* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-item-left {
    padding: 10px;
    flex: 50%;
}

.flex-item-middle {
    padding: 10px;
    flex: 50%;
}

.flex-item-right {
    padding: 10px;
    flex: 50%;
}

.image-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    text-align: center;
    width: 55%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #A81B06;
}

.ansat {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 5em;
}

.sponsor {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-bottom: 5em;
}

.sponsor:hover {
    opacity: 0.8;
}

#sponsor-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    text-align: center;
    border-style: solid;
    border-color: grey;
    padding: 25px;
    width: 38%;
}

button {
    background-color: #09565A;
    color: white;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 15px;
}

button:hover {
    opacity: 0.8;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 1024px) {

    .logo {
        margin: 18px 25px;
    }

    nav ul {
        padding-right: 10px;
    }

    nav ul li {
        display: inline-block;
        padding: 16px 25px;
    }

    nav ul li a {
        text-decoration: none;
        color: black;
        font-size: 18px;
    }

    #header1 {
        height: 40vh;
        margin-bottom: 4em;
    }

    #header2 {
        height: 40vh;
        margin-bottom: 4em;
    }

    #header3 {
        height: 40vh;
        margin-bottom: 4em;
    }

    .flex-container {
        flex-direction: column;
    }

    .flex-item-left {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        flex: 50%;
    }

    .text {
        width: 85%;
    }

    #image1 {
        width: 100%;
    }

    #button {
        width: 40%;
    }
}

@media (max-width: 768px) {

    .logo {
        margin: 18px 25px;
    }

    nav ul li {
        display: inline-block;
        padding: 16px 20px;
    }

    .flex-container {
        flex-direction: column;
    }

    .flex-item-left {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        flex: 50%;
    }

    .text {
        width: 85%;
    }

    #image1 {
        width: 100%;
    }

    #button {
        width: 40%;
    }
}

@media (max-width: 420px) {

    #header1 {
        height: 50vh;
        margin-bottom: 4em;
    }

    #header2 {
        height: 50vh;
        margin-bottom: 4em;
    }

    #header3 {
        height: 50vh;
        margin-bottom: 4em;
    }

    .flex-container {
        flex-direction: column;
    }

    #aarsrapport {
        width: 100%;
        padding: 10px;
    }

    #heading {
        font-size: 40px;
        text-align: center;
    }

    .text {
        width: 85%;
        font-size: 15px;
        text-align: center;
    }

    #image1 {
        width: 100%;
    }

    .image-text {
        font-size: 16px;
        width: 85%;
    }

    .sponsor {
        width: 60%;
        margin-bottom: 2em;
    }

    #sponsor-text {
        font-size: 16px;
        text-align: center;
        padding: 1em;
        width: 60%;
    }

    #button {
        font-size: 16px;
        text-align: center;
        width: 60%;
    }
}

@media (max-width: 380px) {

    .flex-container {
        flex-direction: column;
    }

    #aarsrapport {
        width: 100%;
    }

    #heading {
        font-size: 40px;
        text-align: center;
    }

    .text {
        width: 85%;
        font-size: 15px;
        text-align: center;
    }

    #image1 {
        width: 100%;
    }

    .image-text {
        font-size: 16px;
        width: 85%;
    }

    .sponsor {
        width: 60%;
        margin-bottom: 2em;
    }

    #sponsor-text {
        font-size: 16px;
        text-align: center;
        padding: 1em;
        width: 60%;
    }

    #button {
        font-size: 16px;
        text-align: center;
        width: 60%;
    }
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D4C3B3;
    color: white;
    height: 200px;
    padding: 2em;
    font-weight: bold;
}

#footerLogo {
    height: 100px;
}

#footerTekst #tekstCafe {
    margin-bottom: 10px;

}

.some {
    width: 50px;
    margin: 5px;
}

.some:hover {
    opacity: 0.6;
}

#footerSome {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#facebookText {
    width: 300px;
    text-align: center;

}

#footerTekst p {
    margin: 0;
}



/* Om os slut */
