/**
 * file: css/style.css
 **/
body {
    margin: 0;
    padding: 0;
    background-image: url(/images/bagground50.jpg);
}
/* Kryds button*/
#kryds{
    width: 40px;
    float: right;
    padding: 50px;
   position: absolute; /*man hiver elementet ud af flowet så det flyder så man kan placer med top 0 og right 0*/
    top:0;
    right: 0; 
    
  
}
h2 {
    font-family: 'Allura', cursive;

}
#prislistCp{
    font-size: 55px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #09565A;
    margin-top: 100px;
    margin-bottom: 100px;
}

#prisListimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
   width: 65%;
}
/* Info */
#inFo {
    text-align: center;
    font-family: 'dosis', sans-serif;
    color: #A81B06;
    font-size: 40px;
    margin-top: 2em;

}

.tekst {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
    font-size: 22px;
    text-align: center;
    width: 50%;
    margin-top: 1em;
    font-family: 'helvetica'
}