/**
 * file: css/style.css
 **/

body {
    background-color: whitesmoke;
    font-family: 'Helvetica';
}

/* Om os start */

#banner {
    width: 100%;
    margin-bottom: 5em;
}

#heading {
    font-family: 'Allan';
    font-size: 55px;
    color: #09565A;
    text-align: center;
    margin-bottom: 1em;
}

.text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
    font-size: 20px;
    text-align: left;
    width: 50%;
}

#image1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 1em;
}

#aarsrapport {
    padding: 60px;
}

* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-item-left {
    padding: 10px;
    flex: 50%;
}

.flex-item-middle {
    padding: 10px;
    flex: 50%;
}

.flex-item-right {
    padding: 10px;
    flex: 50%;
}


.flex-item-left a:hover {
    opacity: 60%;
}

.image-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-align: center;
    width: 50%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: crimson;
}

.ansat {
    width: 100%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}

/* Om os slut */





