/**
 * file: css/style.css
 **/

<<<<<<< HEAD
/* Vi bruger font-face til at finde fonten på computeren */
@font-face {
    font-family: "Dosis";
    src: url(../);
    font-family: " Allura";
    src: url(..);
}

/* font slut*/

=======
>>>>>>> main
body {
    background-image: url(../images/bagground.jpg) opacityactive;
    font-family: 'Helvetica';
}

#header1 {
    background-image: url(../images/cafeparasollen.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5em;
}

#header2 {
    background-image: url(../images/frivillige.JPG);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5em;
}

#header3 {
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5em;
}

/* dropdown start */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, .7);
    min-width: 125px;
    z-index: 1;
}

.dropdown-content a {
    text-decoration: none;
    text-align: center;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover {
    color: crimson;
}

/* dropdown slut */

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    top: 0;
    background-color: rgba(255, 255, 255, .7);
}

nav ul {
    float: right;
    margin: 0;
    padding-right: 42px;
    font-family: 'Dosis', sans-serif;

}

nav ul li {
    display: inline-block;
    padding: 16px 32px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.logo {
    height: 48px;
    float: left;
    margin: 16px 48px;
}

/* Om os start */

#banner {
    width: 100%;
    margin-bottom: 5em;
}

#heading {
    font-family: 'Allura';
    font-size: 55px;
    color: #09565A;
    text-align: center;
    margin-bottom: 1em;
}

.text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
    font-size: 20px;
    text-align: left;
    width: 50%;
}

#image1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 1em;
}

#aarsrapport {
    padding: 55px;
}

* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-item-left {
    padding: 10px;
    flex: 50%;
}

.flex-item-middle {
    padding: 10px;
    flex: 50%;
}

.flex-item-right {
    padding: 10px;
    flex: 50%;
}


.flex-item-left a:hover {
    opacity: 60%;
}

.image-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-align: center;
    width: 50%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: crimson;
}

.ansat {
    width: 100%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}

/* Om os slut */
